header {
    background-image: linear-gradient(180deg,#797171, #000);
    border: 1px solid #fff;
}
.bkn-pg-main-banner .bkn-pg-banner-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bkn-pg-main-banner .bkn-pg-banner-items {
    margin: 3rem 0;
}
.bkn-pg-main-banner .bkn-pg-banner-items {
    color: #f5853d;
}
.bkn-pg-main-banner .bkn-pg-banner-items p {
    color: #fff;
}
.login-navigation {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 3rem auto;
}
.bkn-pg-main-item-1 {
    background-color: #fff;
    width: 85%;
    margin: 3rem auto;
    border-radius: 15px;
    padding: 10px;
}
.bkn-pg-main-item-1 .bkn-pg-input-items {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}
.bkn-pg-main-item-1 .bkn-pg-form-fx {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
.bkn-pg-input-items input {
    border: 2px solid rgb(137, 128, 185);
    padding: 8px;
    margin-top: 0.5rem;
    width: 12rem;
    border-radius: 5px;
}
.bkn-pg-input-items input:focus {
    background-color: #cec7c7;
    color: #000;
}
.bkn-pg-input-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.bkn-pg-input-items button {
    width: 12rem;
}
.bkn-pg-input-items button:hover {
    background-color: #cec7c7;
    color: #000;
    border: 2px solid rgb(137, 128, 185);
}


.bkn-level-dspl {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.bkn-level-dspl-item {
    display: none;
}
.updatedList {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
    transition: all 250ms ease;
}
.updatedList:hover{
    border: 2px solid rgb(137, 128, 185);
    transform: scale(1.05);
    background-color: #f6f4f0;
}

.bkn-level-dspl-item {
    padding: 20px;
}
.bkn-level-dspl-item ol li {
    margin-top: 1rem;
}

.bkn-proceed-btn {
    margin-top: 1rem;
    padding: 6px;
}
.bkn-proceed-btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

.tomato-display {
    color: tomato;
}
/*################################################################################################################################*/
table th,.show-booking-information {
    background-color: #ebe5e5;
    color: #000;
    padding: 8px;
}
.display-seats-container {
    display: none;
}
.updated-display-seats-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 3rem 0;
}

.show-booking-information {
    border: 2px solid black;
    padding: 1rem 8rem 1rem 1rem;
}
.show-booking-information p {
    color: #000;
    margin-top: 1rem;
}
.display-seats-container .seat-row-item table td {
    height: 40px;
    background-color: gray;
    padding: 5px;
    width: 40px;
    cursor: pointer;
    border-collapse: collapse;
}
.check-out-btn-item button {
    margin-top: 3rem;
    transition: 350ms;
    padding: 8px;
}
.check-out-btn-item button:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
